<h1>Listing log4r_loggers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Is Enabled?</th>
  </tr>

<% @log4r_loggers.each do |log4r_logger| %>
  <tr>
    <td><%=h log4r_logger.name %></td>
    <td><%=h log4r_logger.is_enabled %></td>
    <td><%= link_to 'Show', log4r_logger %></td>
    <td><%= link_to 'Edit', edit_log4r_logger_path(log4r_logger) %></td>
    <td><%= link_to 'Destroy', log4r_logger, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New log4r_logger', new_log4r_logger_path %>

<br />
<br />

<%= link_to 'Force new log4r config yaml generation*', :action => Log4rLoggersHelper::generate_log4r_config %>
<p>*Requires Rails restart</p>
