<h1>New log4r_logger</h1>

<% form_for(@log4r_logger) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :log_level, "Log Level "  %>
    <%= f.select :log_level, Log4rLoggersHelper::get_custom_levels  %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', log4r_loggers_path %>